# Compiled class files
*.class

# Log files
logs/
*.log
# 临时部署目录
deploy_tmp/
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
ssl/
# virtual machine crash logs
hs_err_pid*

# IDE files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Docker
.env
*.tar

# OS specific
.DS_Store
Thumbs.db